#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

.copy_right_footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.column
{
    box-shadow: 0 6px 8px rgba(2, 2, 2, 0.2);
}

body
{
    background-color: #c4b6ed	;
}

#camera
{
    height: 300px;
    width: 400px;
}

img:hover
{
    border-radius: 140px;
}


h1
{
    font-family:'Trebuchet MS';
}

h3
{
    font-family:'Franklin Gothic Medium';
}

h4
{
    font-family:'Times New Roman';
}